In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading data in csv format
data=pd.read_csv('C:/Users/GS/Documents/DataMining/sample.csv')
print(data.shape)
data.head()

(44, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
import seaborn as sns

In [4]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,5.613636,127.386364,71.295455,19.431818,92.659091,31.743182,0.501250,38.477273,0.522727
std,3.518826,31.870535,21.475329,16.680859,160.221350,8.185591,0.402242,11.570790,0.505258
min,0.000000,78.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,3.000000,103.000000,66.000000,0.000000,0.000000,26.975000,0.247250,29.750000,0.000000
50%,5.500000,118.500000,74.000000,23.000000,0.000000,32.250000,0.409000,33.500000,1.000000
75%,8.250000,145.500000,84.000000,33.500000,141.500000,37.225000,0.597000,50.000000,1.000000
max,13.000000,197.000000,110.000000,47.000000,846.000000,45.800000,2.288000,60.000000,1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
Pregnancies                 44 non-null int64
Glucose                     44 non-null int64
BloodPressure               44 non-null int64
SkinThickness               44 non-null int64
Insulin                     44 non-null int64
BMI                         44 non-null float64
DiabetesPedigreeFunction    44 non-null float64
Age                         44 non-null int64
Outcome                     44 non-null int64
dtypes: float64(2), int64(7)
memory usage: 3.2 KB

In [6]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
Pregnancies=data['Pregnancies'].values
Glucose=data['Glucose'].values
BloodPressure=data['BloodPressure'].values
SkinThickness=data['SkinThickness'].values
Insulin=data['Insulin'].values
BMI=data['BMI'].values
DiabetesPedigreeFunction=data['DiabetesPedigreeFunction'].values
Age=data['Age'].values
Outcome=data['Outcome'].values

In [8]:
def KNN_Class(Pregnanciescheck,Glucosecheck,BloodPressurecheck,SkinThicknesscheck,Insulincheck,BMIcheck,DiabetesPedigreeFunctioncheck,Agecheck):

    Pregnanciesdiff=abs(Pregnancies-Pregnanciescheck)
    Glucosediff=abs(Glucose-Glucosecheck)
    BloodPressurediff=abs(BloodPressure-BloodPressurecheck)
    SkinThicknessdiff=abs(SkinThickness-SkinThicknesscheck)
    Insulindiff=abs(Insulin-Insulincheck)
    BMIdiff=abs(BMI-BMIcheck)
    DiabetesPedigreeFunctiondiff=abs(DiabetesPedigreeFunction-DiabetesPedigreeFunctioncheck)
    Agediff=abs(Age-Agecheck)
    Distancediff=Pregnanciesdiff+Glucosediff+BloodPressurediff+SkinThicknessdiff+Insulindiff+BMIdiff+DiabetesPedigreeFunctiondiff+Agediff
    data['distance']=Distancediff

In [9]:
def predict(k):
    data2=data.copy()
    data2=data2.sort_values('distance')
    final=data2[:k]
    count0=final[final['Outcome']==0].count()
    count1=final[final['Outcome']==1].count()
    if(count1[0]>count0[0]):
        print(1)
    else:
        print(0)

In [10]:
KNN_Class(7,159,64,0,0,27.4,0.294,40)

In [11]:
predict(9)

1