In [2]:
import numpy as np
import pandas as pd
data=pd.read_excel('C:/Users/DELL/Desktop/Data M/Sample.xlsx')
print(data.shape)
data.head()

(49, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1.0
1,1,85,66,29,0,26.6,0.351,31,0.0
2,8,183,64,0,0,23.3,0.672,32,1.0
3,1,89,66,23,94,28.1,0.167,21,0.0
4,0,137,40,35,168,43.1,2.288,33,1.0

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sms

data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,44.000000
mean,5.387755,127.836735,70.591837,19.448980,83.204082,31.895918,0.525224,37.551020,0.522727
std,3.534451,32.772795,20.489752,16.657157,154.272213,8.005726,0.431686,11.471089,0.505258
min,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,2.000000,103.000000,66.000000,0.000000,0.000000,27.400000,0.254000,29.000000,0.000000
50%,5.000000,119.000000,72.000000,23.000000,0.000000,31.600000,0.420000,33.000000,1.000000
75%,8.000000,147.000000,82.000000,33.000000,115.000000,37.600000,0.587000,48.000000,1.000000
max,13.000000,197.000000,110.000000,47.000000,846.000000,45.800000,2.288000,60.000000,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 9 columns):
Pregnancies                 49 non-null int64
Glucose                     49 non-null int64
BloodPressure               49 non-null int64
SkinThickness               49 non-null int64
Insulin                     49 non-null int64
BMI                         49 non-null float64
DiabetesPedigreeFunction    49 non-null float64
Age                         49 non-null int64
Outcome                     44 non-null float64
dtypes: float64(3), int64(6)
memory usage: 3.5 KB

In [8]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [12]:
pregnancies=data['Pregnancies'].values
glucose=data['Glucose'].values
bloodpressure=data['BloodPressure'].values
skinthickness=data['SkinThickness'].values
insulin=data['Insulin'].values
bmi=data['BMI'].values
diabetespedigreefunction=data['DiabetesPedigreeFunction'].values
age=data['Age'].values
outcome=data['Outcome'].values

In [14]:
def KNN_classification(pregnanciescheck,glucosecheck,bloodpressurecheck,skinthicknesscheck,insulincheck,bmicheck,diabetespedigreefunctioncheck,agecheck,outcomecheck)
pregnanciesdiff=abs(pregnancies-pregnanciescheck)
glucosediff=abs(glucose-glucosecheck)
bloodpressurediff=abs(bloodpressure-bloodpressurecheck)
skinthicknessdiff=abs(skinthickness-skinthicknesscheck)
insulindiff=abs(insulin-insulincheck)
bmidiff=abs(bmi-bmicheck)
diabetespedigreefunctiondiff=abs(diabetespedigreefunction-diabetespedigreefunctioncheck)
agediff=abs(age-agecheck)
outcomediff=abs(outcome-outcomecheck)

distance=pregnanciesdiff+glucosediff+bloodpressurediff+skinthicknessdiff+insulindiff+bmidiff+diabetespedigreefunctiondiff+agediff+outcomediff

data['distance']=Distance
def predict(k):
    data2=data.copy()
    data2=data2.sort_values('distance')
    final=data2[:k]
    count0=final[final['Outcome']==0].count()
    count1=final[final['Outcome']==1].count()
    
    if(count1[0]>)

SyntaxError: invalid syntax (<ipython-input-14-e447ccb9eb11>, line 1)